{% extends "frontend/base.html" %}

{% load static %}

{% block title %}Загрузка прайс-листа{% endblock %}

{% block content %}
    <div class="card-header">
        <h3>Загрузка прайс-листа</h3>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form id="registerForm">
                <div class="mb-3">
                    URL для загрузки файла:
                    <input type="text" class="form-control" id="URL" placeholder="http://url.of/file.yaml"
                           required>
                </div>
                <div class="mb-3">
                    <label for="queryData">Данные запроса через API:</label>
                    <textarea class="form-control" id="queryData"
                              style="font-family:Monospace;"
                              placeholder="" readonly>
                            </textarea>
                </div>
                <button type="button" class="btn btn-success" onclick="clickLoad()">Загрузить</button>
                <label for="taskId">Task id:</label>
                <input type="text" id="taskId" placeholder="" readonly>
                <button type="button" class="btn btn-success" onclick="clickGetResult()">Получить результат</button>
                <div class="mb-3">
                    <label for="queryData">Результат:</label>
                    <textarea class="form-control" id="result"
                              style="font-family:Monospace;"
                              readonly>
                            </textarea>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        const inputToken = document.getElementById("token");
        const inputURL = document.getElementById("URL");
        const qData = document.getElementById("queryData");
        const result = document.getElementById("result");
        const taskId = document.getElementById("taskId");

        inputURL.addEventListener("input", updateURLData);

        function updateURLData(e) {
            qData.textContent = "{\"url\": \"" + inputURL.value + "\"}";
        }

        function callback(data) {
            taskId.value = data["task_id"]
        }

        function clickLoad() {
            var data = {
                url: inputURL.value,
            }
            run_request("POST", "{% url 'backend:partner-update' %}", data, result, callback);
        }

        function clickGetResult() {
            console.log("============> " + taskId.value)
            if (taskId.value) {
                console.log(taskId.value)
                run_request("GET", "{% url 'backend:partner-update' %}" + taskId.value + "/", "", result, null);
            }
        }
    </script>
{% endblock %}