{% extends "frontend/base.html" %}

{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="card-header">
        <h3>Регистрация</h3>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form id="registerForm">
                <table width="100%">
                    <tr>
                        <td>
                            <div class="mb-3">
                                Имя пользователя:
                                <input type="text" class="form-control" id="userNamePost" placeholder="User Name"
                                       required>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                Пароль:
                                <input type="text" class="form-control" id="passwordPost" placeholder="Password"
                                       required>
                            </div>
                        </td>
                        {#                        <td>#}
                        {#                            <div class="mb-3">#}
                        {#                                Подтверждение пароля:#}
                        {#                                <input type="text" class="form-control" id="password2Post" placeholder="Password"#}
                        {#                                       required>#}
                        {#                            </div>#}
                        {#                        </td>#}
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                e-mail:
                                <input type="text" class="form-control" id="emailPost" placeholder="e-mail" required>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                Компания:
                                <input type="text" class="form-control" id="companyPost" placeholder="Company" required>
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                Должность:
                                <input type="text" class="form-control" id="positionPost" placeholder="Position"
                                       required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="mb-3">
                                Тип:<br>
                                <select id="typePost">
                                    <option value="customer">Покупатель</option>
                                    <option value="shop">Магазин</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="mb-3">
                    <label for="queryData">Данные запроса через API:</label>
                    <textarea class="form-control" id="queryData"
                              style="font-family:Monospace;"
                              placeholder="" readonly>
                            </textarea>
                </div>
                <button type="button" class="btn btn-success" onclick="clickRegister()">Зарегистрироваться</button>
                <div class="mb-3">
                    <label for="queryData">Результат:</label>
                    <textarea class="form-control" id="result"
                              style="font-family:Monospace;"
                              readonly>
                    </textarea>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        const inputUserName = document.getElementById("userNamePost");
        const inputPassword = document.getElementById("passwordPost");
        const inputEmail = document.getElementById("emailPost");
        const inputCompany = document.getElementById("companyPost");
        const inputPosition = document.getElementById("positionPost");
        const inputType = document.getElementById("typePost");
        const qData = document.getElementById("queryData");
        const result = document.getElementById("result");

        inputUserName.addEventListener("input", updateUserData);
        inputPassword.addEventListener("input", updateUserData);
        inputEmail.addEventListener("input", updateUserData);
        inputCompany.addEventListener("input", updateUserData);
        inputPosition.addEventListener("input", updateUserData);
        inputType.addEventListener("input", updateUserData);

        function updateUserData(e) {
            qData.textContent = "{\"username\": \"" + inputUserName.value + "\", " +
                "\"password\": \"" + inputPassword.value + "\", " +
                "\"email\": \"" + inputEmail.value + "\", " +
                "\"company\": \"" + inputCompany.value + "\", " +
                "\"position\": \"" + inputPosition.value + "\", " +
                "\"type\": \"" + inputType.value + "\"}";
        }

        function register(url, data, element) {
            $.ajax({
                url: url,
                method: "POST",
                data: data,
                dataType: "json",
                success: (data_out) => {
                    console.log(data_out);
                    element.value = JSON.stringify(data_out, null, 4);
                    element.style.height = (element.scrollHeight) + "px"
                },
                error: function (jqXHR, e) {
                    console.log("status: " + jqXHR.status + " (" + jqXHR.statusText + ")");
                    console.log(jqXHR.responseJSON);
                    element.value = "status: " + jqXHR.status + " (" + jqXHR.statusText + ")\n";
                    element.value += JSON.stringify(jqXHR.responseJSON, null, 4);
                    element.style.height = (element.scrollHeight) + "px"
                }
            });
        }

        function clickRegister() {
            var data = {
                username: inputUserName.value,
                password: inputPassword.value,
                email: inputEmail.value,
                company: inputCompany.value,
                position: inputPosition.value,
                type: inputType.value
            }
            register("{% url 'backend:user-register' %}", data, result);
        }
    </script>
{% endblock %}
