{% extends "shop/base.html" %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="card-header">
        <h3>Восстановление пароля</h3>
    </div>

    <div class="album py-3 bg-light">
        <div class="container">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form id="restorePasswordForm">
                         <div class="mb-3">
                            <label for="tokenPost">Имя пользователя:</label>
                            <input type="text" class="form-control" id="userNamePost" placeholder="User name" required>
                        </div>
                        <div class="mb-3">
                            <label for="tokenPost">e-mail:</label>
                            <input type="text" class="form-control" id="emailPost" placeholder="e-mail" required>
                        </div>
                        <div class="mb-3">
                            <label for="queryData">Данные запроса через API:</label>
                            <textarea class="form-control" id="queryData"
                                      style="font-family:Monospace;"
                                      placeholder="" readonly>
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Выслать новый пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        const inputUserName = document.getElementById("userNamePost");
        const inputEmail = document.getElementById("emailPost");
        const qData = document.getElementById("queryData");

        inputUserName.addEventListener("input", updateUserNameOrEmail);
        inputEmail.addEventListener("input", updateUserNameOrEmail);

        function updateUserNameOrEmail(e) {
            qData.textContent = "{ \"username\": \"" + inputUserName.value +
                "\", \"email\": \"" + inputEmail.value + "\" }";
        }

        function resetPassword(url, data) {
            $.ajax({
                url: url,
                method: "PATCH",
                data: data,
                dataType: "json",
                success: (data) => {
                    console.log(JSON.stringify(data, null, 4));
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }

        $("#restorePasswordForm").on('submit', (e) => {
            e.preventDefault();
            var data = {
                username: restorePasswordForm.elements["userNamePost"].value,
                email: restorePasswordForm.elements["emailPost"].value,
            }
            resetPassword("{% url 'shop:password-reset' %}", data);
        })
    </script>
{% endblock %}
