{% extends "shop/base.html" %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="card-header">
        <h3>Восстановление пароля</h3>
    </div>

    <div class="album py-3 bg-light">
        <div class="container">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form id="restorePasswordForm">
                         <div class="mb-3">
                            <label for="tokenPost">Имя пользователя:</label>
                            <input type="text" class="form-control" id="userNamePost" placeholder="User name" required>
                        </div>
                        <div class="mb-3">
                            <label for="tokenPost">e-mail:</label>
                            <input type="text" class="form-control" id="emailPost" placeholder="e-mail" required>
                        </div>
                        <button type="submit" class="btn btn-success">Выслать новый пароль</button>
                        <div class="mb-3">
                            <label for="queryData">Данные запроса через API:</label>
                            <textarea class="form-control" id="queryData"
                                      style="font-family:Monospace;"
                                      placeholder="" readonly>
                    </textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        const inputUserName = document.getElementById("userNamePost");
        const inputEmail = document.getElementById("emailPost");
        const qData = document.getElementById("queryData");

        inputUserName.addEventListener("input", updateUserName);
        inputEmail.addEventListener("input", updateEmail);

        function updateUserName(e) {
            qData.textContent = "{ \"username\": \"" + e.target.value +
                "\", \"email\": \"" + inputEmail.value;
        }
        function updateEmail(e) {
            qData.textContent = "{ \"username\": \"" + e.target.value +
                "\", \"email\": \"" + e.target.value;
        }

        $("#getTokenForm").on('submit', (e) => {
            e.preventDefault();
            var data = {
                email: restorePasswordForm.elements["userNamePost"].value,
                password: restorePasswordForm.elements["emailPost"].value,
            }
        })
    </script>
{% endblock %}
