<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends "shop/base.html" %}

        {% block content %}
            <div class="container">
            <h1 class="display-3">Перечень товаров</h1>
            </div>
            <div class="album py-5 bg-light">
            <div class="container">
{#            <a href="{% url "shop:product_create" %}" class="btn btn-primary">Создать новую запись</a>#}
            <br><br>
            <div class="row">
            {% for p in object_list %}
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                <div class="card-body">
                {{ form.as_p }}
                </div>
                </div>
                </div>
            {% endfor %}
            </div>
            </div>
            </div>
        {% endblock %}</title>
</head>
<body>

</body>
</html>