{% extends "shop/base.html" %}

{% block content %}
{#    {% load my_tags %}#}

    <div class="container">
        {% if object %}
            <h4 class="display-4">Изменить продукт:</h4>
        {% else %}
            <h4 class="display-4">Ввести новый продукт:</h4>
        {% endif %}
    </div>

    <div class="container">
        <form method="post" class="row" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card col-6">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </div>
            </div>
{#            {% if owner %}#}
{#                <div class="card col-6">#}
{#                    {% if object %}#}
{#                        <div class="card-header">Версии:</div>#}
{#                    {% endif %}#}
{#                    <div class="card-body">#}
{#                        {{ formset.management_form }}#}
{#                        {% for form in formset.forms %}#}
{#                            {{ form.as_p }}#}
{#                            {% if not forloop.last %}#}
{#                                <hr>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
        </form>
    </div>
{% endblock %}